**__pychache__/**
test_main.http
alembic/versions/__pycache__/74ad7ddddb24_added_user_model.cpython-310.pyc
alembic/versions/__pycache__/81fd4db8f17d_add_order_tables.cpython-310.pyc
alembic/versions/__pycache__/04945c9c37fe_product_and_category_table.cpython-310.pyc
alembic/versions/__pycache__/9375ce312e12_add_cart_and_cart_items.cpython-310.pyc
alembic/versions/__pycache__/ebc5a7bcc700_drop_quntity_col.cpython-310.pyc
ecommerce/__pycache__/__init__.cpython-310.pyc
ecommerce/__pycache__/config.cpython-310.pyc
ecommerce/__pycache__/db.cpython-310.pyc
ecommerce/cart/__pycache__/__init__.cpython-310.pyc
ecommerce/cart/__pycache__/cart_models.cpython-310.pyc
ecommerce/cart/__pycache__/routes.cpython-310.pyc
ecommerce/cart/__pycache__/schema.cpython-310.pyc
ecommerce/cart/__pycache__/services.cpython-310.pyc
ecommerce/orders/__pycache__/__init__.cpython-310.pyc
ecommerce/orders/__pycache__/order_models.cpython-310.pyc
ecommerce/orders/__pycache__/routes.cpython-310.pyc
ecommerce/orders/__pycache__/schema.cpython-310.pyc
ecommerce/orders/__pycache__/services.cpython-310.pyc
ecommerce/products/__pycache__/__init__.cpython-310.pyc
ecommerce/products/__pycache__/product_models.cpython-310.pyc
ecommerce/products/__pycache__/routes.cpython-310.pyc
ecommerce/products/__pycache__/schema.cpython-310.pyc
ecommerce/products/__pycache__/services.cpython-310.pyc
ecommerce/products/__pycache__/validator.cpython-310.pyc
ecommerce/user/__pycache__/__init__.cpython-310.pyc
ecommerce/user/__pycache__/hashing.cpython-310.pyc
ecommerce/user/__pycache__/routes.cpython-310.pyc
ecommerce/user/__pycache__/schema.cpython-310.pyc
ecommerce/user/__pycache__/services.cpython-310.pyc
ecommerce/user/__pycache__/user_models.cpython-310.pyc
ecommerce/user/__pycache__/validator.cpython-310.pyc
